<form>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ note.title }}</ion-title>
      <ion-buttons slot="start"> 
          <ion-back-button defaultHref="/home"></ion-back-button> 
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button type="submit" (click)="updateNote()">Save</ion-button>
          <ion-button>
              <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item>
      <ion-input id="noteTitle" value="{{ note.title }}" class="titleInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea id="noteCopy" value="{{ note.copy }}" rows="30" cols="20"></ion-textarea>
    </ion-item>

    <div class="date">
        {{ note.date }}
    </div>
  </ion-content>
</form>
