.date {
    padding-top: 20px;
    color: rgb(122, 122, 122);
    font-style: italic;
    font-size: 14px;
}

.titleInput {
    --placeholder-font-weight: bold;
    font-size: 20px;
}

form {
    height: 100%;
}