<form>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ note.title }}</ion-title>
      <ion-buttons slot="start"> 
          <ion-back-button defaultHref="/home"></ion-back-button> 
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button (click)="toggleEdit()">
              <ion-icon slot="icon-only" name="create" hidden="{{ editOptions.hiddenEdit }}"></ion-icon>
            </ion-button>
          <ion-button type="submit" (click)="updateNote()" hidden="{{ editOptions.hiddenSave }}">Save</ion-button>
          <ion-button (click)="deleteNote()" hidden="{{ editOptions.hiddenSave }}">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item>
      <ion-input id="noteTitle" value="{{ note.title }}" class="titleInput" disabled="{{ editOptions.disabled }}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea id="noteCopy" value="{{ note.copy }}" rows="30" cols="20" disabled="{{ editOptions.disabled }}" required></ion-textarea>
    </ion-item>

    <div class="date">
        {{ note.date }}
    </div>
  </ion-content>
</form>
